<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime executionTimeout="3000000" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!-- <webServices>
      <protocols>
       <add name="HttpPost"/>
       <add name="HttpGet"/>
      </protocols>
     </webServices>  -->
  </system.web>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=219.236.247.21;Initial Catalog=DWH_ZyZDHL;Persist Security Info=True;User ID=sa;Password=hyby.com123" providerName="System.Data.SqlClient" />
    <add name="GreateFile" connectionString="0" />
  </connectionStrings>
  <appSettings>
    <add key="Virtual_Img_Path" value="E:/ZyZDHL/ss.zdhl.com.cn/picture/Imges/" />
    <add key="upload" value="upload/" />
    <add key="predate" value="-6" />
    <add key="ZZGetUrl" value="http://111.205.151.13:9000/tss/w/complaintmanage/api/allDetail" />
    <add key="isExport" value="1" />
    <add key="preSign" value="checkMobile@@" />
    <add key="WXToken" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential" />
    <!--<add key="WXTokenAppid" value="wx02c741e2df6c1de3"/>
    <add key="WXTokenSecret" value="eded996ed5b133a14feebbb35b157556"/>-->
    <add key="WXTokenAppid" value="wxb9d33087995364f3" />
    <add key="WXTokenSecret" value="07ee44a2ea10d9d003724f6fefb84941" />
    <add key="FirstGetZZReprotDate" value="2015-01-20" />
    <add key="WXGroupUrl" value="https://api.weixin.qq.com/cgi-bin/groups" />
    <add key="WXUserAddUrl" value="https://api.weixin.qq.com/cgi-bin/user" />
    <add key="WXUserUpdateUrl" value="https://api.weixin.qq.com/cgi-bin/user/info" />
  </appSettings>
</configuration>
<!--ProjectGuid: {1B27C10E-1722-4052-9B0F-AAA571A8098F}-->